/* --------------------------------------------------------------
# Footer
-------------------------------------------------------------- */
#footer {
    background: #f7f8f9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
  }
  
  #footer .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  
  @media (min-width: 768px) {
    #footer .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  #footer h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
  }
  
  #footer .contact-info,
  #footer .social-links {
    text-align: center;
  }
  
  @media (min-width: 768px) {
    #footer .contact-info,
    #footer .social-links {
      text-align: left;
    }
  }
  
  #footer p {
    font-size: 15px;
    margin: 10px 0;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ba704f;
    color: #fff;
    line-height: 1;
    padding: 8px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #ba704f;
    color: #fff;
    text-decoration: none;
  }
  
  